[build]
  # Perintah instalasi dependensi (akan menjalankan 'npm install')
  command = "npm install"
  
  # Direktori publikasi (frontend)
  publish = "."
  
  # Direktori Serverless Functions
  functions = "api"

# Hapus semua bagian [functions] dan pengaturan timeout untuk menghindari error syntax
