# netlify.toml
[build]
  # Perintah instalasi dependensi
  command = "npm install"
  # Direktori tempat Netlify akan mencari file statis (index.html)
  publish = "."
  # Direktori tempat Serverless Functions Anda berada
  functions = "api"
  
[functions]
  # Mengatur batas waktu eksekusi fungsi menjadi 60 detik (Default-nya 10 detik)
  timeout = 60
